<div class="tab-panel-container">
  <p-tabs 
    [value]="activeTabId() ?? ''"
    (valueChange)="onTabValueChange($any($event))"
    styleClass="custom-tabview">
    
    <p-tablist>
      @for (tab of tabs(); track tab.id) {
        <p-tab [value]="tab.id" [disabled]="tab.disabled ?? false">
          @if (tab.icon) {
            <i [class]="tab.icon"></i>
          }
          <span>{{ tab.title }}</span>
        </p-tab>
      }
    </p-tablist>
    
    <p-tabpanels>
      @for (tab of tabs(); track tab.id) {
        <p-tabpanel [value]="tab.id">
          <div class="tab-content">
            @switch (tab.id) {
              @case (PARENT_TAB_IDS.TASKS) {
                <app-tasks></app-tasks>
              }
              @case (PARENT_TAB_IDS.OVERVIEW) {
                <app-overview></app-overview>
              }
              @case (PARENT_TAB_IDS.PROJECTS) {
                <app-projects></app-projects>
              }
              @default {
                <div class="default-content">
                  <p>{{ tab.content }}</p>
                </div>
              }
            }
          </div>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
